# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# HuggingFace token
HF_TOKEN

# Training outputs
outputs/
datasets/

# Models
models/unet/*
models/vae/*
models/clip/*
!models/.gitkeep
